<div class="card">
  <div class="card-header">Listes des consommations</div>
  <div class="card-body">
    <table class="table  table-hover ">
      <thead>

      <th>Id</th>
      <th>ref</th>
      <th>annee</th>
      <th>mois</th>
      <th>numero semaine</th>
      <th>litre</th>
      <th>prix</th>
      <th>description</th>
      <th>date consommation</th>
      <th> Id Voiture</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let c of consommationcarburants; index as i">
        <td>{{c.id}}</td>
        <td>{{c.ref}}</td>
        <td>{{c.annee}}</td>
        <td>{{c.mois}}</td>
        <td>{{c.numeroSemaine}}</td>
        <td>{{c.litre}}</td>
        <td>{{c.prix}}</td>
        <td>{{c.description}}</td>
        <td>{{c.dateConsommationCarburant}}</td>
        <td>{{c.voiture.id}}</td>
        <td><span (click)="delete(i)"><i class="fa fa-trash btn btn-danger"></i></span></td>
        <td><span (click)="update(i,c)"><i class="fa fa-edit btn btn-warning"></i></span></td>
      </tr>
      </tbody>
    </table>
  </div>
<!--  <div class="card-footer"></div>-->
</div>

