<div class="card">
  <div class="card header"></div>
  <div class="card body">
    <table class="table table-striped table-hover">
      <thead>
      <th>Id</th>
      <th>Ref</th>
      <th>Description</th>
      <th>Montant</th>
      <th>DateReparation</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let c of reparations; index as i">
        <td>{{c.id}}</td>
        <td>{{c.ref}}</td>
        <td>{{c.description}}</td>
        <td>{{c.montant}}</td>
        <td>{{c.datereparation}}</td>
        <td><span (click)="delete(i)"><button class="fa fa-trash btn btn-danger"></button></span></td>
        <td><span (click)="update(i,c)"><i class="fa fa-edit btn btn-warning"></i></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


