<div class="container">
  <div class="col-md-6">
    <app-consommationcarburant-create></app-consommationcarburant-create>
    <app-modelevoiture-create></app-modelevoiture-create>
    <app-voiture-create></app-voiture-create>
    <app-categorie-create></app-categorie-create>
    <app-typecarburant-create></app-typecarburant-create>
    <app-vidange-create></app-vidange-create>
    <app-typevidange-create></app-typevidange-create>
  </div>
  <div class="col-md-6">
    <app-consommationcarburant-list></app-consommationcarburant-list>
    <app-modelevoiture-list></app-modelevoiture-list>
    <app-voiture-list></app-voiture-list>
    <app-categorie-list></app-categorie-list>
    <app-typecarburant-list></app-typecarburant-list>
    <app-vidange-list></app-vidange-list>
    <app-typevidange-list></app-typevidange-list>
  </div>
</div>
