<div class="card">
  <div routerLinkActive="active" class="card-header">Listes des Voitures</div>
  <div class="card-body">
    <table id="montable" class="table  table-hover ">
      <thead CLASS="btn-dark">

      <th CLASS="">ID</th>
      <th>Reference</th>
      <th>matricule</th>
      <th>Date vidange</th>
      <th>Modele Code</th>
      <th>TypeCarburant Code</th>
      <th>Action</th>
      <th></th>

      </thead>
      <tbody>
      <tr *ngFor="let c of voitures; index as i">
        <td>{{c.id}}</td>
        <td>{{c.ref}}</td>
        <td>{{c.matricule}}</td>
        <td>{{c.dateDernierVidange}}</td>
        <td>{{c.model.code}}</td>
        <td>{{c.typeCarburant.code}}</td>
        <td><span (click)="deleteByRef(c)"><i  class="fa fa-trash btn btn-danger btn-lg"></i></span></td>
        <td><span (click)="update(i,c)" routerLink="voiture-create"><i  class="fa fa-edit btn btn-warning btn-lg"></i></span></td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="h5"><span>Liste des vidanges de chaque voiture</span>
    <input id="cccc45" class="serch " type="search" placeholder="Enter Ref Voiture" aria-label="Search" [(ngModel)]="voiture.ref">
    <button class="btn btn-outline-success" type="submit" (click)="findByVoitureRef(voiture)" >Search</button>
  </div>

    <div class="card-body">
      <table class="table  table-hover ">
        <thead CLASS="btn-dark">

        <th>Id</th>
        <th>ref</th>
        <th>date Vidange</th>
        <th>kilometrage actuel</th>
        <th>kilometrage suivant</th>
        <th>Montant</th>
        <th>voiture ref</th>
        <th></th>

        </thead>
        <tbody >
        <tr *ngFor="let c2 of vidanges; index as i">
          <td>{{c2.id}}</td>
          <td>{{c2.ref}}</td>
          <td>{{c2.dateVidange}}</td>
          <td>{{c2.kilomtrageActuel}}</td>
          <td>{{c2.kilometrageVidangeSuivant}}</td>
          <td>{{c2.montant}}</td>
          <td>{{c2.voiture.ref}}</td>
        </tr>
        </tbody>
      </table>
    </div>
      <div class="card-footer"></div>
  </div>


