<div class="card">
  <div class="card-header">Ajout de Consommation carburant</div>
  <div class="card-body">
    <div class="from-group">
      <div class="form-group">
        <label>Ref</label> <input type="text" class="form-control" [(ngModel)]="consommationcarburant.ref">
      </div>
        <div class="form-group">
          <label>Date</label> <input type="date" class="form-control" [(ngModel)]="consommationcarburant.dateConsommationCarburant">
      </div>
      <div class="form-group">
        <label>Description</label> <input type="text" class="form-control" [(ngModel)]="consommationcarburant.description">

      </div>
      <div class="form-group">
        <label>Litre</label> <input type="number" class="form-control" [(ngModel)]="consommationcarburant.litre">

      </div>
      <div class="form-group">
        <label>Annee</label> <input type="number" class="form-control" [(ngModel)]="consommationcarburant.annee">

      </div>
      <div class="form-group">
        <label>Mois</label> <input type="number" class="form-control" [(ngModel)]="consommationcarburant.mois">

      </div>
      <div class="form-group">
        <label>Numero de semaine</label> <input type="number" class="form-control" [(ngModel)]="consommationcarburant.numeroSemaine">

      </div>
      <div class="form-group">
        <label>Prix</label> <input type="number" class="form-control" [(ngModel)]="consommationcarburant.prix">
      </div>
      <div class="form-group">
        <label> Ref Voiture</label> <input type="text" class="form-control" [(ngModel)]="consommationcarburant.voiture.ref">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-block btn-outline-primary" (click)="save()">Valider</button>
  </div>
</div>
