<div class="card">
  <div class="card-header">Listes des vidanges</div>
  <div class="card-body">
    <table id="montable" class="table  table-hover ">
      <thead CLASS="btn-dark">

      <th CLASS="">ID</th>
      <th>Reference</th>
      <th>Date vidange</th>
      <th>Kilometrage Actuel</th>
      <th>Kilometrage vidange suivant</th>
      <th>Montant</th>
      <th>Voiture ref</th>
      <th>Action</th>
      <th></th>

      </thead>
      <tbody>
      <tr *ngFor="let c of vidanges; index as i">
        <td>{{c.id}}</td>
        <td>{{c.ref}}</td>
        <td>{{c.dateVidange}}</td>
        <td>{{c.kilomtrageActuel}}</td>
        <td>{{c.kilometrageVidangeSuivant}}</td>
        <td>{{c.montant}}</td>
        <td>{{c.voiture.ref}}</td>
        <td><span (click)="deleteByRef(c)"><i class="fa fa-trash btn btn-danger btn-lg"></i></span></td>
        <td><span (click)="update(i,c)" routerLink="vidange-create"><i class="fa fa-edit btn btn-warning btn-lg"></i></span></td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="card-footer"></div>
</div>



