<div class="card">
  <div class="card-header ">Ajout de Voiture</div>
  <div class="card-body ">
    <div class="from-group ">
<!--      <div class="form-group">-->
<!--        <label>Id</label> <input type="number" class="form-control" [(ngModel)]="voiture.id">-->
<!--      </div>-->
      <div class="form-group">
        <label>Ref</label> <input id="cccc45" type="text" class="form-control btn-outline-info" [(ngModel)]="voiture.ref"  (focusout)="getValue()" >

      </div>
      <div class="form-group">
        <label>Matricule</label> <input type="text" class="form-control btn-outline-info" [(ngModel)]="voiture.matricule">
      </div>
      <div class="form-group">
        <label>modele Code</label> <input type="number" class="form-control btn-outline-info" [(ngModel)]="voiture.model.code">
      </div><div class="form-group">
        <label>DateDernierVidange</label> <input type="text" class="form-control btn-outline-info" [(ngModel)]="voiture.dateDernierVidange">
      </div>
      <div class="form-group">
        <label>typeCarburant Code</label> <input type="number" class="form-control btn-outline-info" [(ngModel)]="voiture.typeCarburant.code">
      </div>
<!--      <div class="form-group">-->
<!--        <button class="btn btn-block btn-outline-secondary">Ajout de Consommation carburant</button>-->
<!--      </div>-->



        <div class="card">
          <div class="card-header">Ajout de Consommation carburant</div>

          <div class="card-body ">
            <div class="from-group">
              <div class="form-group">
                <label>Ref</label> <input type="text" class="form-control btn-outline-info" [(ngModel)]="consommationcarburant.ref">
              </div>
              <div class="form-group">
                <label>Date</label> <input type="date" class="form-control btn-outline-info" [(ngModel)]="consommationcarburant.dateConsommationCarburant">
              </div>
              <div class="form-group">
                <label>Description</label> <input type="text" class="form-control btn-outline-info" [(ngModel)]="consommationcarburant.description">

              </div>
              <div class="form-group">
                <label>Litre</label> <input type="text" class="form-control btn-outline-info" [(ngModel)]="consommationcarburant.litre">

              </div>
              <div class="form-group">
                <label>Annee</label> <input type="text" class="form-control btn-outline-info" [(ngModel)]="consommationcarburant.annee">

              </div>
              <div class="form-group">
                <label>Mois</label> <input type="text" class="form-control btn-outline-info" [(ngModel)]="consommationcarburant.mois">

              </div>
              <div class="form-group">
                <label>Numero de semaine</label> <input type="text" class="form-control btn-outline-info" [(ngModel)]="consommationcarburant.numeroSemaine">

              </div>
              <div class="form-group">
                <label>Prix</label> <input type="text" class="form-control btn-outline-info" [(ngModel)]="consommationcarburant.prix">
              </div>
              <div class="form-group btn-outline-dark" >
                voitureRef: {{consommationcarburant.voiture.ref}}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-lg btn-outline-dark" (click)="addConsommation()">+</button>
          </div>

        </div>


    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-block btn-outline-primary" (click)="save()">Valider</button>
  </div>
</div>

