<div class="card  text-lg-center">
  <div id="card-header" class="card-header col-md-10 ">Ajout de Voiture</div>
  <div id="card-body " class="card-body  col-md-10 btn-dark">
    <div class="from-group col-md-10 ">

      <div class="form-group col-md-10 ">
        <label>Ref</label> <input id="cccc45" type="text" class="form-control  " [(ngModel)]="voiture.ref"  (focusout)="getValue()" >

      </div>
      <div class="form-group col-md-10">
        <label>Matricule</label> <input type="text" class="form-control " [(ngModel)]="voiture.matricule">
      </div>
      <div class="form-group col-md-10">
        <label>modele Code</label> <input type="number" class="form-control " [(ngModel)]="voiture.model.code">
      </div>
      <div class="form-group col-md-10">
        <label>DateDernierVidange</label> <input type="text" class="form-control " [(ngModel)]="voiture.dateDernierVidange">
      </div>
      <div class="form-group col-md-10">
        <label>typeCarburant Code</label> <input type="number" class="form-control" [(ngModel)]="voiture.typeCarburant.code">

      </div>
   <div class="form-group col-md-10">
    <button class="btn btn-block btn-outline-primary" (click)="save()" routerLink="voiture-list">Valider</button>
    </div>



    </div>
  </div>
  <div class="card-footer col-md-10"></div>
  <div class="card">
    <div class="card-header ">Ajout de vidange</div>

    <div class="card-body ">
      <div class="from-group">
        <div class="form-group">
          <label>Ref</label> <input type="text" class="form-control " [(ngModel)]="vidange.ref">
        </div>
        <div class="form-group">
          <label>Date</label> <input type="date" class="form-control " [(ngModel)]="vidange.dateVidange">
        </div>
        <div class="form-group">
          <label>Kilometrage Actuel</label> <input type="text" class="form-control " [(ngModel)]="vidange.kilomtrageActuel">

        </div>
        <div class="form-group">
          <label>Kilometrage suivant</label> <input type="text" class="form-control " [(ngModel)]="vidange.kilometrageVidangeSuivant">

        </div>
        <div class="form-group">
          <label>Montant</label> <input type="text" class="form-control" [(ngModel)]="vidange.montant">
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-block btn-lg btn-outline-dark" (click)="addVidange()">+</button>
    </div>

  </div>
</div>
</div>

